$color-primary: #074794;
$color-primary-dark: #213665;
$color-primary-light: #6aade4;
$color-secondary: #db9233;
$color-secondary-light: #f9b413;
$color-light: #ede7ea;
$color-tertiary: #8dad00;
$color-black: #000;
$color-white: #fff;