$color-primary: #074794;
$color-primary-dark: #213665;
$color-primary-light: #6aade4;
$color-secondary: #db9233;
$color-secondary-light: #f9b413;
$color-light: #ede7ea;
$color-tertiary: #8dad00;
$color-black: #000;
$color-white: #fff;

$blue: #213665;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #db9233;
$yellow: #f9b413;
$green: #8dad00;
$teal: #6aade4;
$cyan: #074794;
$light: #ede7ea;
